{
  "presets": [
    ["@babel/preset-env", {"modules": false}],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "cwd": "babelrc",
        "extensions": [".ts", ".tsx", ".scss", ".svg"],
        "alias": {
          "@appchat": "./src"
        }
      }
    ]
  ],
  "env": {
    "production": {
      "presets": ["minify"]
    },
    "test": {
      "presets": ["@babel/preset-env", "@babel/preset-react"]
    }
  }
}
