@import '~@react-md/theme/dist/color-palette';

$rmd-theme-light: false;
$rmd-theme-primary: $rmd-purple-a-700;
$rmd-theme-secondary: $rmd-deep-purple-a-200;
$rmd-icon-color: $rmd-blue-500;
// other variable overrides

@import '~react-md/dist/react-md';
@include react-md-utils;
